.headerimages{
  width: 100%;
  overflow-x: : hidden;
  display: inline-block;

}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#imagecontainer{
  width: 100%;

  display: inline-block;
  position: relative;
  text-align: center;
}

#arrow{
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 5%;
  bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.headerText{
  position: absolute;
  z-index: 10;
  display: inline-block;
  top: 40%;
  width: 100%;
  color: white;
  font-size: 75;
  /* text-shadow: 1px 1px #70665d; */
  /* text-align: center; */
  max-width: 100%;
  /* right: -8%; */
  top: 25%;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(119,120,114, .5);
  left: 0;
  /* background-color: rgb(119,120,114); */
  opacity: .9;
}
#about{
  /* position: fixed; */
  /* top: -900; */
  /* background: #e9e4e0; */
  background-color: #fafafa;
  width: 100%;
  height: 80%;
  /* margin-top: 60px; */
  display: block;
}
#myself{width: 275px;/* top: 80px; */position: absolute;left: 20%;margin-top: 5%;}

#personal{
  width: 500px;
  position: absolute;
  left: 40%;
  /* font-family: 'Noto Serif', serif; */
  color: #70665d;
  margin-top: 7%;
  font-family: 'Open Sans', sans-serif;
}

#about_me{
  display: block;
  height: 80%;
  padding-top: 60px;
  background-color: #fafafa;
}



.parts{
  text-align: center;
  display: inline;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  opacity: .8;
}

a{
  display: inline-block;
}

.disappear{
  display: none;
}

.arrowsAppear{
  top: 0;
  height: 80%;
  display: inline;
  position: relative;
  z-index: 1000;

}

#moveOnArrows{
  display: block;
  margin-top: 250%;
  height: 60%;
  text-align: center;
}

#moveOnArrows:hover{
  animation: bounce2 1s;
}

.makeWhite{
  background-color: red;
  z-index: 110;
}

.cover{
  display: inline-block;
  width: 10%;
  position: relative;
  height: 35%;
  margin: 5%;

}

.navbar{
  height: 20%;

  position: absolute;
  width: 100%;
  bottom: 5%;
}

.arrows{
  top: 0;
  height: 80%;
  display: inline;
  position: relative;
  z-index: -10;


}

#resumepart{
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  top: 0;
  margin: 0 auto;
  background-color: #fafafa;
}

#resume{
    width: 75%;

    /* display: block; */
    display: inline-block;
}

#end{
  /* height: 100%; */
  display: block;
  margin-top: 10%;
}


.resume1::after{
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

.airplane{
  position: absolute;
  display: inline-block;
  width: 100px;
  left: -200;
  bottom: -800;
}

.lightbox{
  display: none;
  text-align: center;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #f1f2ed;
  opacity: .98;
}

#opacity{
  opacity: 1;
}

.showup {
	outline: none;
	display: block;
  overflow-y: scroll;

}

.lightbox img{
  max-width: 65%;
  margin-top: 2%;
  overflow-y: scroll;
  opacity: 1;
}

.anchor{
  display: block;
 height: 115px; /*same height as header*/
 margin-top: -115px; /*same height as header*/
 visibility: hidden;
}

#resumepic{
  width: 60%;
  margin: 0 auto;
  display: none;
}
#container{
  width: 100%;

  z-index: -10;
  display: block;
  position: relative;
  text-align: center;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}


	40% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes bounce2 {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}


	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}



#go_on1{
  display: block;
  width: 10%;
  height: 10%;
  text-align: center;
  margin: 0 auto;
  margin-top: -20%;
  z-index: 409523;

}
#go_on2{
  display: block;
  width: 10%;
  height: 10%;
  text-align: center;
  margin: 0 auto;
  margin-top: -10%;
  z-index: 409523;

}
#go_on3{
  display: block;
  width: 10%;
  height: 5%;
  text-align: center;
  /* margin: 5%; */
  /* margin: -10%; */
  padding: -10%;
  z-index: 409523;
  position: absolute;
  color: blue;
  left: 45%;
  margin-top: -1%;
}

.parallax {
    /* The image used */
    background-image: url("pic6.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("pic4.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("pic1.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#resumeheaderfont{
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  /* position: fixed; */
  z-index: 100;
  padding-top: 200px;
  color: white;
}

#vimage{
  display: inline;
  height: 25%;
  margin: 5%;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  position: relative;
}

#projects{
  margin: 0 auto;
  text-align: center;
}

/*#vimage:hover{
  opacity: .5;
}*/

.overlay{
  position: absolute;
  left: 0;
  top: 15%;
  right: 0;
  display: none;
}
#pls
{
  display: inline;
  position: absolute;
  top: 25%;
  z-index: 100;
  display: none;
  width: 100%;
}
#imgwrapper{
  width: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  /* display: inline; */
  float: left;
  text-align: center;
  background-color: #fafafa;
}
#imgwrapper2{
  width: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  /* display: inline; */
  float: right;
  background-color: #fafafa;
}

.icons{width: 7%;padding: 5%;cursor: pointer;}
#links{

  text-align: center;
}
.icons:hover{
  animation: bounce 2s infinite;
}

#networks{
  display: block;
  background-color: #fafafa;
}

CSS

.hvrbox_background {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 500%;
	height: auto;
	margin-top: 5%;
}
.hvrbox img {
	width: 50%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
	margin: 0 auto;
  width: 300px;
  padding: 5%;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fafafa;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	margin: 0 auto;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
